<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel | Staff View</title>
</head>
<body>
    <table>
        <tr>
            <td>Employee Number</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Position</td>
        </tr>
        <tr th:each="staff: ${staff}">
            <td th:text="${staff.employeeId}">Employee Number</td>
            <td th:text="${staff.firstName}">First Name</td>
            <td th:text="${staff.lastName}">Last Name</td>
            <td th:text="${staff.position}">Position</td>
        </tr>
    </table>

</body>
</html>